<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administracion</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="estilos.css" />
  </head>
  <body>
    <h1>Skate Park</h1>

    <div class="py-4">
      <h2>Administración</h2>
      <hr class="w-50" />

      <table class="table w-50 m-auto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Foto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Años de experiencia</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>

          {{#each skaters}}
            {{!-- {{#unless this.is_admin}} --}}
            <tr>
              <td>{{this.id}}</td>
              <td><img src="/{{this.foto}}" alt="{{this.nombre}}" /></td>
              <td>{{this.nombre}}</td>
              <td>{{this.anos_experiencia}}</td>
              <td>{{this.especialidad}}</td>
              <td>{{#if this.estado}}
                  <input
                    type="checkbox"
                    class="estado-checkbox"
                    data-id="{{this.id}}"
                    checked
                  />
                {{else}}
                  <input
                    type="checkbox"
                    class="estado-checkbox"
                    data-id="{{this.id}}"
                  />
                {{/if}}
              </td>

            </tr>
            {{!-- {{/unless}} --}}
          {{/each}}

        </tbody>
      </table>
    </div>
  </body>
</html>